<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bank</title>

  {% load static %}
  <style>

body {
  background-color: lightblue;
}
 
  </style>

</head>
<body>

  <div class="container">
      <a href="/">
        <h1>
          WPPT Inc. Prosperity Handling
        </h1>
      </a>

    <center>
      {% block content %}
      {% endblock %}
    </center>

  </div>
  
</body>
</html>